
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0px 80px;
    

}

.client {
    width:60%;
    margin: auto;
}

.headerRight {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client p {
    font-size: 1.15em;
    font-weight: 200;
    color: #4C4C4C;
}

.settings {
    padding-right: 15px;
}

.gear {
    width:40;
}

.logo {
    width:120px;
    margin:auto;
}

.c1 .bigCoach {
    width:190px;
    float:right; 
}

.c1 .img {
    width:35.5%;
    float:left;
}



.c1 .txt {
 width:64.5%;
    float:right;
}

.client h1 {
    font-size:1.9em;
    font-weight:500;
    
}

.c1 h1 {
    padding-left: 40px;
    padding-bottom: 10px;
}

.c1 p {
    

    padding-left: 40px;
    line-height: 200%;
}

.c1 h5 {
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 10px;
    display: block;
    float:left;
    
    border-left-style:solid;
    border-left-width: 2px;
    border-left-color: #959595;
    
}

.c1 .buttons {
    padding-left:40px;
    padding-top:22px;
}

.c2 .buttons {
    padding-top:12px;
    
}

.blue {
    color:#4936F6;
}

.client h5 {
    font-size:1.15em;
    font-weight: 500;
    
}

.c2 .form {
    width:60%;
    margin:auto;
}

.c2 h1 {
    padding-bottom: 15px;
    
}

.c2 form {
    
    padding-top:15px;
    
}

input[type=text], select {
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

::-webkit-input-placeholder {
    font-size: 1.15em;
    color:#797979;
    font-weight: 400;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 1.15em;
    color:#797979;
    font-weight: 400;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 1.15em;
    color:#797979;
    font-weight: 400;  
}

:-ms-input-placeholder {  
   font-size: 1.15em;
    color:#797979;
    font-weight: 400;  
}

.c2 h5 {
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 10px;
    
    border-left-style:solid;
    border-left-width: 2px;
    border-left-color: #959595;
    
}

.w50 {
    width:50px;
}

.c3 p {
    padding-left: 40px;
    line-height: 150%;
}

.c3 .txt {
 width:66%;
    float:right;
}

.c3 .img {
    width:34%;
    float:left;
}

.c3 .buttons {
    padding-left:40px;
    padding-top:22px;
    
}

.c3 h5 {
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 10px;
    display: block;
    float:left;
    
    border-left-style:solid;
    border-left-width: 2px;
    border-left-color: #959595;
}

.c3 .bigCoach {

    width:200px;
    float:right; 

    padding-top: 15px;
}



.c3 h1 {
   
    padding-left: 40px;
    padding-bottom: 10px;

}

.padB20 {
    padding-bottom: 13px;
}

.greyChat {
    background-color:#F1F0F0;
    border-radius: 8px;
    padding: 20px 20px;
    display: inline-block;
    color: #4C4C4C;
}

.chatFace {
    max-width:100%;
    width:100%;
    height:100%;
    
}

.imgHolder {
    position:absolute;
    bottom:0px;
    
    width:70px;
    padding-right:10px;
/*
    display: flex;
    flex-direction:column;
    height:100%;
*/
    
}

.convo {
/*    display:table;*/
    width:63%;
    position:absolute;
    left:37%;
    padding-top: 20px;
    top:130px;
    bottom:0px;
    
}

.coachBlock {
    position:relative;
    left:85px;
    
}

.leftBlock {
    position:relative;
        padding-left: 40px;
    margin-bottom: 15px;


}

.clientChat {
    width:100%;
    
}

.chatLogo {
    width:140px;
}

.summary {
    float:left;
    
    padding-left:65px;
    padding-right:50px;
    border-right-style: solid;
    border-right-color:#B6B6B6;
    border-right-width: 1px;
    padding-top:50px;
/*    height: calc( 100% - 130px );*/
    position: absolute;
    top: 0px;
    bottom: 0;
    
    
}

.sumPic {
    width:200px;
    margin:auto;
    display:block;
    margin-bottom: 30px;
}

.clientChat h1 {
    font-size:1.9em;
    font-weight:500;
    
}

.borderHolder {
    border-bottom-style:solid;
    border-bottom-width: 1px;
    border-bottom-color: #B6B6B6;
    height:130px;
}

.clientChat p {
    font-size: 1.15em;
    font-weight: 200;
    
    
    
}

.summary p {
    
    padding-top: 20px;
    
}

.sumHolder {
 position: absolute;
    top: 130px;
    bottom: 0;
    width: 37%;
}

.rightBlock {
    float:right;
    padding-right: 20px;
    margin-bottom: 25px;
}

.blueChat {
    background-color:#536DFF;
    border-radius: 8px;
    padding: 20px 20px;
    display: inline-block;
    color: white;
    max-width: 60%;
}

.right {
    float:right;
}

.chatForm {
    padding-left: 40px;
    padding-right: 40px;
    position:absolute;
    bottom:20px;
    right:0px;
    left:0px;
}

.chatInput {
    padding-bottom: 20px;
    height:120px;
}

.chatBox {
    border-radius: 8px;
    border-style: solid;
    border-color:#F1F0F0;
    border-width: 5px;
    width: 100%;
    outline: none;
    resize: none;
    height:40px;
    padding-bottom: 20px;
}

.chatButton {
    float:right;
    background-color:#536DFF;
    color:white;
    border-radius: 9px;
    margin-top: 5px;
}

.submit {
    padding:12px 12px;
    
}
