html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}


body {
    height:100%;
	
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	background-color: white;
    font-size:16px;
	
}
.pad200 {
    height:200px;
}

#index h1 {
    font-size:1.5em;
    
    font-weight:500;
    padding-left: 20%;
    color:black;
}

#index h2 {
    font-size: 1.2em;
    font-weight: 300;
    padding-left:20%;
        padding-right:43%;
    line-height: 125%;
        padding-top: 20px;

    

}

.pad75 {
    height:75px;
}

.pad50 {
    height:50px;
}

.pad30 {
    height:30px;
}

.blueFont {
    color:#4936F6;
}

.pad100 {
    height:100px;
}

.greyFont {
    color:#4C4C4C;
}

.bot10 {
    bottom:6px;
}

.rel {
    
    position:relative;
    
}

.top5 {
    top:3px;
}

.padR20 {
    padding-right:60px;
}

/*
input {
	padding: 15px;
	width: 400px;
	border: 1px solid rgba(0,0,0, .6);
	border-radius: 5px;
	background: #EFEEEE;
    font-size: 1.3em;
}   */

.blue {
    color:#4936F6;
}

.bot20 {
    bottom:20px;
}

.right50 {
    right:50px;
}

.pad150 {
    height:150px;
}

.block {
    display:block;
    padding: 5px 0px;
}
